@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Amazon Ember', sans-serif;
}

/* navbar */


nav{
    position:static;
    background-color: #00050d;
    display: flex;
    height: 48px;
    justify-content: space-around;
    text-align: center;
    font-size: larger;
    padding: 10px;
    font-weight: 550;
}


        /* media query */
        @media (max-width: 992px) {
            .menu {
                display: none;
            }
            .navbar {
                display: block;
            }
        }
        @media (min-width: 992px) {
            .menu {
                display: flex;
            }
            .navbar {
                display: none;
            }
        } 



        /* side nav */
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .navbar-toggler-icon {
            cursor: pointer;
        }
        /* end of side nav */

#logo{
    background-color: transparent;
    height: 24px;
    margin-right: 50px;
    margin-left: 200px;
}

.menu{
    display: flex;
    color: #aaa;
    background-color: #00050d;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.menu2{
    display: flex;
    color: #aaa;
    gap: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.profile{
    margin-right: 200px;
}

.n{
    display: flex;
    gap: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.profile img{
    height: 34px;
    border-radius: 50px;
}

.home{
    margin-top: -8px;
    margin-bottom: auto;
    cursor: pointer;
}


.search{
    margin-top: -5px;
    margin-bottom: auto;
    padding: 5px;
}

.search:hover{
    background-color: #171c24;
}

.dd{
    overflow: hidden;
    position: absolute;
}
#rotateimg{
    width: 20px;
    transform: rotate(0deg);
    transition: all 0.4s;
}

.home:hover #rotateimg{
    transform: rotate(180deg);
}

.dd > div {
    transform: translate(0, -100%);
}

.dd a {
    display: block;
    position: relative;
    background-color: #171c24;
    color: #aaa;
    height: fit-content;
    line-height: 50px;
    text-align: left;
    z-index: 10;
    padding: 5px;
}

.dd a:hover {
    background-color: #a1a1a1;
    color: #000000;
}

.dd a:hover dd{
    background-color: #a1a1a1;
    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}

.home p{
    padding-left: 10px;
    padding-right: 10px;
}
.dd a:hover .home p{
    background-color: #a1a1a1;
    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}

nav .home:hover > .dd > div {
    transform: translate(0);
}

.dd1{
    overflow: hidden;
    position: absolute;
    display: flex;
}

.dd1 > div{
    transform: translate(0, -100%);
}


.dd1 div div {
    display: block;
    position: relative;
    background-color: #171c24;
    color: #aaa;
    height: fit-content;
    line-height: 50px;
    text-align: left;
}

nav .home:hover > .dd1 > div {
    transform: translate(0);
}

.home:hover{
    background-color: #171c24;
    color: white;
}

.f{
    display: flex;
    z-index: 10;
    position: relative;
    padding-left: auto;
    padding-right: auto;
    column-count: 2;
}

.gen{
    padding: 2vw;
    list-style: none;
}

ul{
    column-count: 2;
    list-style: none;
}

li:hover{
    color: #000;
    background-color: aliceblue;
    border-radius: 10px;
}

h3{
    color: aliceblue;
}


/* End of Navbar */



/* main */

/* First Content Box */

.box{
    box-sizing: inherit;
}

.firstBox{
    background-image: linear-gradient(to right, #000 40%, transparent 58%), url('https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg');
    background-position: right top;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000;
    
}
.innerFirstBox{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #fff;
    z-index: 10;
    margin: 0;
    height: 500px;
    margin-left: -400px;
}

.innerFirstBoxContent{
    line-height: 1.3;
    width: 50%;
    margin-bottom: auto;
}

.innerFirstBoxContentTextBox{
    margin-top: 10%;
    display: grid;
}

.innerFirstBoxContentTextBoxHeader{
    margin-bottom: 24px 
}
.innerFirstBoxContentTextBoxHeader h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
}

.innerFirstBoxContentTextBoxpara{
    margin-bottom: 24px 
}
.innerFirstBoxContentTextBoxpara p{
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 800px;
}
.innerFirstBoxContentTextBoxButton Button{
    color: #fff !important;
    background: #0F79AF;
    padding: 10px 50px 10px 50px;
    border: 0px;
    border-radius: 5px;
    font-weight: 550;
    transition: all 0.3s;
}

.innerFirstBoxContentTextBoxButton Button:hover{
    transform: scale(102%);
}
/* End of first content Box */





/* Second Content Box */


.secondBox{
    background-image: linear-gradient(to right, #000 40%, transparent 58%), url('https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right.jpg');
    background-position: right top;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000;
    
}
.innersecondBox{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #fff;
    z-index: 10;
    margin: 0;
    height: 500px;
    margin-left: -400px;
}

.innersecondBoxContent{
    line-height: 1.3;
    width: 50%;
    margin-bottom: auto;
}

.innersecondBoxContentTextBox{
    margin-top: 10%;
    display: grid;
}

.innersecondBoxContentTextBoxHeader{
    margin-bottom: 24px 
}
.innersecondBoxContentTextBoxHeader h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
}

.innersecondBoxContentTextBoxpara{
    margin-bottom: 24px 
}
.innersecondBoxContentTextBoxpara p{
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 800px;
}
.innersecondBoxContentTextBoxButton Button{
    color: #fff !important;
    background: #0F79AF;
    padding: 10px 50px 10px 50px;
    border: 0px;
    border-radius: 5px;
    font-weight: 550;
    transition: all 0.3s;
}

.innersecondBoxContentTextBoxButton Button:hover{
    transform: scale(102%);
}

/* End Second Content Box */

/* third content box */

.imgfluid{
    width: 200px;
}



.hover-effect {
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1.10);
}

.hover-effect:hover {
    transform: scale(1.11);
    box-shadow: 0px 0px 12px black;
}


.parabox{
    padding: 50px;
}

.parabox h1{
   font-size:45px;
   font-weight: 600;
}

.parabox p{
    font-weight: 600;
}


/* end of third content box */

/* end of main */


/* fOOTER */
footer{
    background: rgb(30, 30, 30);
    z-index: 9999;
}
footer img{
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 30px;
}

footer .footerlinks a {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(117, 193, 255);
    text-decoration: none;
    font-size: small;
    transition: all 0.3s;
} 

footer .footerlinks a:hover{
    color: rgb(178, 220, 255); 
}

footer .Copyright{
    color: rgb(134, 148, 161);
}
/* end of footer */